<html>
<head>
    <style>
        body {
            background-color: #EDEAEA;
            background-position:center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font face: "Didact Gothic";
            font size: 17px;
        }
        @media only screen and (max-width: 740px) {
        body {
            background-color: #EDEAEA;               
        }
        }
    </style>
</head>

<body>
<h3>
    <a href="/detalle_venta">detalle_venta</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="idventa">idventa</label>
        <input required id="idventa" type="text" class="form-control" name="idventa" size="30"/>
    </div>
    
    <div class="form-group">
        <label for="idproducto">idproducto</label>
        <input required id="idproducto" type="text" class="form-control" name="idproducto" size="30"/>
    </div>
    
    <div class="form-group">
        <label for="cantidad">cantidad</label>
        <input required id="cantidad" type="text" class="form-control" name="cantidad" size="30"/>
    </div>
    
    <div class="form-group">
        <label for="subtotal">subtotal</label>
        <input required id="subtotal" type="text" class="form-control" name="subtotal" size="30"/>
    </div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Guardar</button>
    </div>
</form>
<br>
<br>
</body>